<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppdai.university.dao.UserDao">

	<resultMap type="com.ppdai.university.domain.UserDO" id="UserDOResultMap">
		<id column="id" property="id" />
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="token" property="token"/>
        <result column="status" property="status"/>
        <result column="inserttime" property="inserttime"/>
        <result column="updatetime" property="updatetime"/>
        <result column="isactive" property="isactive"/>
	</resultMap>

	<sql id="MybatisUserDAO_all_column_fields">
	      id,user_name,password,email,token,status,inserttime,updatetime,isactive
 	</sql>
	<!-- 只有varchar char text类型 做 !='' 判断，生成代码时,其他类型时只做!=null 决断 0或fasle与空''是相同的，在mybatis中的动态语句中 -->
	<sql id="MybatisUserDAO_dynamic_where_fields"><!-- xml转义字符需要 <![CDATA[   ]]> 标签-->
		<where>
			<if test="userName != null  and userName != '' "> AND user_name=#{userName} </if>
			<if test="password != null  and password != '' "> AND password=#{password} </if>
			<if test="email != null  and email != '' "> AND email=#{email} </if>
			<if test="token != null  and token != '' "> AND token=#{token} </if>
			<if test="status != null "> AND status=#{status} </if>
			<if test="isactive != null "> AND isactive=#{isactive} </if>
		</where>
 	</sql>

	<select id="MybatisUserDAO_selectById" parameterType="long" resultMap="UserDOResultMap">
	SELECT
		<include refid="MybatisUserDAO_all_column_fields" />
	FROM
		user
	WHERE
		 id = #{id}
	</select>

    <insert id="insert" parameterType="com.ppdai.university.domain.UserDO" useGeneratedKeys="true">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO user(
				id,
				user_name,
				password,
				email,
				token,
				status,
				inserttime,
				updatetime,
				isactive
		)values(
				#{id},
				#{userName},
				#{password},
				#{email},
				#{token},
				#{status},
				#{inserttime},
				#{updatetime},
				#{isactive}
		)
    </insert>

	<update id="MybatisUserDAO_updateById" parameterType="com.ppdai.university.domain.UserDO">
		UPDATE user
		SET
					user_name = #{userName},
					password = #{password},
					email = #{email},
					token = #{token},
					status = #{status},
					inserttime = #{inserttime},
					updatetime = #{updatetime},
					isactive = #{isactive}
		WHERE
			id = #{id}
	</update>

	<delete id="MybatisUserDAO_deleteById" parameterType="long">
		DELETE FROM user WHERE id = #{id}
	</delete>

	<update id="MybatisUserDAO_update_dynamic" parameterType="com.ppdai.university.domain.UserDO">
		UPDATE user
		<set>
					<if test="userName != null  and userName != '' ">user_name=#{userName},</if>
					<if test="password != null  and password != '' ">password=#{password},</if>
					<if test="email != null  and email != '' ">email=#{email},</if>
					<if test="token != null  and token != '' ">token=#{token},</if>
					<if test="status != null ">status=#{status},</if>
					<if test="inserttime != null ">inserttime=#{inserttime},</if>
					<if test="updatetime != null ">updatetime=#{updatetime},</if>
					<if test="isactive != null ">isactive=#{isactive},</if>
		</set>
		WHERE id = #{id}
	</update>

 	<select id="selectDynamic" resultMap="UserDOResultMap" parameterType="com.ppdai.university.domain.UserDO">
	     SELECT
	     	<include refid="MybatisUserDAO_all_column_fields" />
		 FROM
		 	user
			<include refid="MybatisUserDAO_dynamic_where_fields" />
 	</select>

 	<select id="MybatisUserDAO_select_dynamic_count" resultType="long" parameterType="com.ppdai.university.domain.UserDO">
	     SELECT
	     	count(1)
		 FROM
		 	user
	 	<include refid="MybatisUserDAO_dynamic_where_fields" />
 	</select>

 	<select id="MybatisUserDAO_select_dynamic_page_query" resultMap="UserDOResultMap" parameterType="com.ppdai.university.domain.UserDO">
	     SELECT
	     	<include refid="MybatisUserDAO_all_column_fields" />
		 FROM
		 	user
	 	<include refid="MybatisUserDAO_dynamic_where_fields" />
	 	Limit #{start},#{pageSize}
 	</select>

</mapper>